/* pika({ __shortcut: 'flex-center', gap: '1rem' }) */
.pk-a { display: flex; }
.pk-b { align-items: center; }
.pk-c { justify-content: center; }
.pk-d { gap: 1rem; }

/* pika({ __shortcut: 'm-4' }) */
.pk-e { margin: 1rem; }
