@layer utilities {
  .pk-a {
    display: flex;
  }
  .pk-b {
    align-items: center;
  }
  .pk-c {
    justify-content: center;
  }
  .pk-d {
    gap: 1rem;
  }
  .pk-e {
    display: inline-flex;
  }
  .pk-f {
    padding: 0.5rem 1rem;
  }
  .pk-g {
    border-radius: 0.25rem;
  }
  .pk-h {
    border: none;
  }
  .pk-i {
    cursor: pointer;
  }
  .pk-j {
    font-size: 1rem;
  }
  .pk-k {
    background-color: #0ea5e9;
  }
  .pk-l {
    color: white;
  }
  .pk-m {
    margin: 1rem;
  }
}
