@layer utilities {
  .pk-a {
    display: flex;
  }
  .pk-b {
    align-items: center;
  }
  .pk-c {
    gap: 0.75rem;
  }
  .pk-d {
    justify-content: space-between;
  }
  .pk-e {
    display: inline-flex;
  }
  .pk-f {
    justify-content: center;
  }
  .pk-g {
    padding-inline: 1rem;
  }
  .pk-h {
    padding-block: 0.625rem;
  }
  .pk-i {
    border-radius: 9999px;
  }
  .pk-j {
    background-color: var(--accent-color);
  }
  .pk-k {
    gap: 16px;
  }
  .pk-l {
    border-radius: 12px;
  }
}
