@layer preflights, utilities;

@layer utilities {
  .pk-a {
    padding: 0.75rem 1rem;
  }
  .pk-b {
    border-radius: 0.75rem;
  }
  .pk-c {
    background-color: #0f172a;
  }
  .pk-d {
    color: white;
  }
}
