/* pika({ __shortcut: 'flex-center', gap: '1rem' }) */
.a { display: flex; }
.b { align-items: center; }
.c { justify-content: center; }
.d { gap: 1rem; }

/* pika({ __shortcut: 'm-4' }) */
.e { margin: 1rem; }
