@layer preflights, utilities;

@layer utilities {
  .pk-a {
    background-color: white;
  }
  .pk-b {
    border-radius: 0.75rem;
  }
  .pk-c {
    box-shadow: 0 10px 30px rgba(15, 23, 42, 0.08);
  }
  .pk-d {
    padding: 0.25rem 0.5rem;
  }
}
